*{
    margin: 0;
    padding: 0;
}

.main{
    background-color:#FFFFFF;
    height:100%;
}

#navbar{
    width: 100%; 
    height: 150px;
    position: fixed;
    left: 0;
    top: 0;
    background-color:rgba(78,42,132,0.8); /* Example color */
    align-items: center;
    padding-top: 20px;
    transition: height 0.3s ease-in-out,background-color 0.5s, font-size 0.5s;
}

#navbar.compressed {
    height: 100px; 
    padding-top: 0px;
    margin-top: 0;
    background-color: #4E2A84;
}

.icon{
    width: cover;
    float: left;
    height:100px;
    position:fixed;
}

#logo{
    color: #FFFFFF;
    font-size: 50px;
    font-family: 'Times New Roman', Times,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 50px;
    float: left;
    padding-top: 20px;
    transition: font-size 0.5s,padding-top 0.3s;
    
}

.cover_img {
    padding-top: 300px;
    width: 100%; 
    height: 400px; 
    background-image: url('cover.jpeg');
    background-size: cover; 
    background-position: center; 
    margin-bottom: 0;
}
.content {
    display: flex;
    align-items: start;
    flex-direction: column;

}

#menu{
    flex: 1;
    margin-top: -100px;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin-right: 20px;
    margin-bottom: 100px;
}
#menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

#menu ul li a{
    font-size: 20px;
    display: block; 
    text-align: center;
    padding: 40px 30px; 
    text-decoration: none; 
    color:rgba(78,42,132,1); 

}

#menu li a:hover {
    background-color: rgba(78,42,132,0.8);
    font-size: 30px;
    color: white;
}

#description {
    flex: 3; 
    padding-left: 40px;
    padding-top:100px;
    color: #FFFFFF;
    font-size: 25px;
    background-color: rgba(78,42,132,0.8);
    height:500px;
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom:100px;
}

#footer {
    background-color: white; 
    text-align: center;
    padding: 50px 0;
    height:30px;
    color: black;
}

.ece-logos img {
    max-width: 500px;
    margin: 0 10px;
}
